<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.srp.dao.PreDao">

    <!--按住院号查找信息-->
    <select id="selectbyno" parameterType="Map" resultType="Map">
        SELECT `住院号` no, `姓名` xingming, `性别` xingbie, `年龄` nianling, `民族` minzu, `婚姻` hunyin, `出生地` chushengdi,
         `职业` zhiye, `脑脊液检查数据` naojiye, `血常规数据` xuechanggui, `常规尿液数据` changguiniaoye,
          `血糖检查数据` xuetangjiancha, `MRI数据` MRI, `MRA数据` MRA, `脑血管造影数据` naoxueguanzaoying,
           `数字减影血管造影数据` shuzijianying, `经颅多普勒超声检查数据` jingluduopule, `磁共振检查数据` cigongzhen,
            `颅内压` luneiya, `神经系统变化` shenjingxitong, `血液生化` xueyeshenghua, `凝血功能` ningxuegongneng,
             `胸部X线检查` xiongbuxxian, `脑出血类型` naochuxueleixing, `出血位置` chuxueweizhi, `出血原因` chuxueyuanyin,
              `出血体积` chuxuetiji, `出血量` chuxueliang, `血肿形态` xuezhongxingtai, `脑内状况` naoneiqingkuang,
               `发病时间` fabingshijian, `实施急救措施` shishijijiucuoshi, `是否饮酒` shifouyinjiu, `病人的状态` bingrendezhuangtai,
                `脑部CT数据` naobuct, `手术时间` shoushushijian, `心电图数据` xindiantushuju, `发病前有哪些活动` fabingqianhuodong,
                 `并发症` bingfazheng, `病人的体征状况数据` tizheng, `相关病史` bingshi, `手术中的突发情况` tufaqingkuang,
                  `手术的所有备选方案` beixuanfangan, `手术实施方案` shishifangan, `手术时长` shoushushichang,
                   `手术过程中的体征状况` shoushutizheng, `麻醉剂量` mazuijiliang, `术中用药` shuzhongyongyao,
                    `手术效果` shoushuxiaoguo, `住院的时长` zhuyuanshichang, `术后用药` shuhouyongyao,
                     `恢复状态` huifuzhuangtai, `出院时状态` chuyuanzhuangtai, `身体指标变化` shentizhibiaobianhua,
                      `营养摄入` yingyangsheru, `病人状态` bingrenzhuangtai, `复查情况` fuchaqingkuang, `方案修改` fanganxiugai
                      FROM `患者手术相关信息`
        where 1=1
            <if test="no != null and no != ''">
                and `住院号` = #{no}
            </if>
            <if test="xingming != null and xingming != ''">
                and `姓名` = #{xingming}
            </if>
        LIMIT #{start}, #{limit}
    </select>

    <!--更新基本信息-->
    <update id="updatejiben" parameterType="java.util.Map">
        UPDATE `患者手术相关信息`
        <trim prefix="set" suffixOverrides=",">

            <if test="xingming!=null">`姓名` = #{xingming},</if>
            <if test="xingbie!=null">`性别` = #{xingbie},</if>
            <if test="nianling!=null">`年龄` = #{nianling},</if>
            <if test="minzu!=null">`民族` = #{minzu},</if>
            <if test="hunyin!=null">`婚姻` = #{hunyin},</if>
            <if test="chushengdi!=null">`出生地` = #{chushengdi},</if>
            <if test="zhiye!=null">`职业` = #{zhiye},</if>
    </trim>
        WHERE `住院号` = #{no}
    </update>

    <!--更新全部信息-->
    <update id="updateall" parameterType="java.util.Map">
        UPDATE `患者手术相关信息`
        <trim prefix="set" suffixOverrides=",">
            <if test="xingming!=null">`姓名` = #{xingming},</if>
            <if test="xingbie!=null">`性别` = #{xingbie},</if>
            <if test="nianling!=null">`年龄` = #{nianling},</if>
            <if test="minzu!=null">`民族` = #{minzu},</if>
            <if test="hunyin!=null">`婚姻` = #{hunyin},</if>
            <if test="chushengdi!=null">`出生地` = #{chushengdi},</if>
            <if test="zhiye!=null">`职业` = #{zhiye},</if>
            <if test="naojiye!=null">`脑脊液检查数据` = #{naojiye},</if>
            <if test="xuechanggui!=null">`血常规数据` = #{xuechanggui},</if>
            <if test="changguiniaoye!=null">`常规尿液数据` = #{changguiniaoye},</if>
            <if test="xuetangjiancha!=null">`血糖检查数据` = #{xuetangjiancha},</if>
            <if test="MRI!=null">`MRI数据` = #{MRI},</if>
            <if test="MRA!=null">`MRA数据` = #{MRA},</if>
            <if test="naoxueguanzaoying!=null">`脑血管造影数据` = #{naoxueguanzaoying},</if>
            <if test="shuzijianying!=null">`数字减影血管造影数据` = #{shuzijianying},</if>
            <if test="jingluduopule!=null">`经颅多普勒超声检查数据` = #{jingluduopule},</if>
            <if test="cigongzhen!=null">`磁共振检查数据` = #{cigongzhen},</if>
            <if test="luneiya!=null">`颅内压` = #{luneiya},</if>
            <if test="shenjingxitong!=null">`神经系统变化` = #{shenjingxitong},</if>
            <if test="xueyeshenghua!=null">`血液生化` = #{xueyeshenghua},</if>
            <if test="ningxuegongneng!=null">`凝血功能` = #{ningxuegongneng},</if>
            <if test="xiongbuxxian!=null">`胸部X线检查` = #{xiongbuxxian},</if>
            <if test="naochuxueleixing!=null">`脑出血类型` = #{naochuxueleixing},</if>
            <if test="chuxueweizhi!=null">`出血位置` = #{chuxueweizhi},</if>
            <if test="chuxueyuanyin!=null">`出血原因` = #{chuxueyuanyin},</if>
            <if test="chuxuetiji!=null">`出血体积` = #{chuxuetiji},</if>
            <if test="chuxueliang!=null">`出血量` = #{chuxueliang},</if>
            <if test="xuezhongxingtai!=null">`血肿形态` = #{xuezhongxingtai},</if>
            <if test="naoneiqingkuang!=null">`脑内状况` = #{naoneiqingkuang},</if>
            <if test="fabingshijian!=null">`发病时间` = #{fabingshijian},</if>
            <if test="shishijijiucuoshi!=null">`实施急救措施` = #{shishijijiucuoshi},</if>
            <if test="shifouyinjiu!=null">`是否饮酒` = #{shifouyinjiu},</if>
            <if test="bingrenzhuangtai!=null">`病人的状态` = #{bingrenzhuangtai},</if>
            <if test="naobuct!=null">`脑部CT数据` = #{naobuct},</if>
            <if test="shoushushijian!=null">`手术时间` = #{shoushushijian},</if>
            <if test="xindiantushuju!=null">`心电图数据` = #{xindiantushuju},</if>
            <if test="fabingqianhuodong!=null">`发病前有哪些活动` = #{fabingqianhuodong},</if>
            <if test="bingfazheng!=null">`并发症` = #{bingfazheng},</if>
            <if test="tizheng!=null">`病人的体征状况数据` = #{tizheng},</if>
            <if test="bingshi!=null">`相关病史` = #{bingshi},</if>
            <if test="tufaqingkuang!=null">`手术中的突发情况` = #{tufaqingkuang},</if>
            <if test="beixuanfangan!=null">`手术的所有备选方案` = #{beixuanfangan},</if>
            <if test="shishifangan!=null">`手术实施方案` = #{shishifangan},</if>
            <if test="shoushushichang!=null">`手术时长` = #{shoushushichang},</if>
            <if test="shoushutizheng!=null">`手术过程中的体征状况` = #{shoushutizheng},</if>
            <if test="mazuijiliang!=null">`麻醉剂量` = #{mazuijiliang},</if>
            <if test="shuzhongyongyao!=null">`术中用药` = #{shuzhongyongyao},</if>
            <if test="shoushuxiaoguo!=null">`手术效果` = #{shoushuxiaoguo},</if>
            <if test="zhuyuanshichang!=null">`住院的时长` = #{zhuyuanshichang},</if>
            <if test="shuhouyongyao!=null">`术后用药` = #{shuhouyongyao},</if>
            <if test="huifuzhuangtai!=null">`恢复状态` = #{huifuzhuangtai},</if>
            <if test="chuyuanzhuangtai!=null">`出院时状态` = #{chuyuanzhuangtai},</if>
            <if test="shentizhibiaobianhua!=null">`身体指标变化` = #{shentizhibiaobianhua},</if>
            <if test="yingyangsheru!=null">`营养摄入` = #{yingyangsheru},</if>
            <if test="bingrenzhuangtai!=null">`病人状态` = #{bingrenzhuangtai},</if>
            <if test="fuchaqingkuang!=null">`复查情况` = #{fuchaqingkuang},</if>
            <if test="fanganxiugai!=null">`方案修改` = #{fanganxiugai},</if>

        </trim>
        WHERE `住院号` = #{no}
    </update>


    <select id="selectbynolist" parameterType="List" resultType="java.util.LinkedHashMap">
        SELECT * FROM `患者手术相关信息` where `住院号` in
        <foreach collection="list" item="listItem" index="index" open="(" separator="," close=")"> #{listItem,jdbcType=VARCHAR} </foreach>
    </select>

	<!-- 查询基本信息 -->
	<select id="selectjiben" parameterType="Map" resultType="java.util.Map">
		SELECT `住院号` no, `姓名` xingming, `性别` xingbie, `年龄` nianling, `民族` minzu, `婚姻` hunyin, `出生地` chushengdi,
         `职业` zhiye FROM `患者手术相关信息`
        WHERE 1=1
            <if test="xingming!=null and xingming != ''">
                and `姓名` = #{xingming}
            </if>
        LIMIT #{start}, #{limit}
	</select>

    <!--插入信息-->
    <insert id="insertdata" parameterType="java.util.Map">
        INSERT INTO `患者手术相关信息` (`住院号`,`姓名`,`性别`,`年龄`,`民族`,`婚姻`,`出生地`,`职业`,`脑脊液检查数据`,
        `血常规数据`,`常规尿液数据`,`血糖检查数据`,`MRI数据`,`MRA数据`,`脑血管造影数据`,`数字减影血管造影数据`,
        `经颅多普勒超声检查数据`,`磁共振检查数据`,`颅内压`,`神经系统变化`,`血液生化`,`凝血功能`,`胸部X线检查`,
        `脑出血类型`,`出血位置`,`出血原因`,`出血体积`,`出血量`,`血肿形态`,`脑内状况`,`发病时间`,`实施急救措施`,`是否饮酒`,
        `病人的状态`,`脑部CT数据`,`手术时间`,`心电图数据`,`发病前有哪些活动`,`并发症`,`病人的体征状况数据`,`相关病史`,
        `手术中的突发情况`,`手术的所有备选方案`,`手术实施方案`,`手术时长`,`手术过程中的体征状况`,`麻醉剂量`,`术中用药`,
        `手术效果`,`住院的时长`,`术后用药`,`恢复状态`,`出院时状态`,`身体指标变化`,`营养摄入`,`病人状态`,`复查情况`,`方案修改`)
		VALUES (#{no}, #{xingming}, #{xingbie}, #{nianling}, #{minzu}, #{hunyin}, #{chushengdi}, #{zhiye}, #{naojiye}, #{xuechanggui},
		#{changguiniaoye}, #{xuetangjiancha}, #{MRI}, #{MRA}, #{naoxueguanzaoying}, #{shuzijianying}, #{jingluduopule}, #{cigongzhen}, 
		#{luneiya}, #{shenjingxitong}, #{xueyeshenghua}, #{ningxuegongneng}, #{xiongbuxxian}, #{naochuxueleixing}, #{chuxueweizhi}, 
		#{chuxueyuanyin}, #{chuxuetiji}, #{chuxueliang}, #{xuezhongxingtai}, #{naoneiqingkuang}, #{fabingshijian}, #{shishijijiucuoshi}, 
		#{shifouyinjiu}, #{bingrenzhuangtai}, #{naobuct}, #{shoushushijian}, #{xindiantushuju}, #{fabingqianhuodong}, #{bingfazheng}, 
		#{tizheng}, #{bingshi}, #{tufaqingkuang}, #{beixuanfangan}, #{shishifangan}, #{shoushushichang}, #{shoushutizheng}, #{mazuijiliang}, 
		#{shuzhongyongyao}, #{shoushuxiaoguo}, #{zhuyuanshichang}, #{shuhouyongyao}, #{huifuzhuangtai}, #{chuyuanzhuangtai}, 
		#{shentizhibiaobianhua}, #{yingyangsheru}, #{bingrenzhuangtai}, #{fuchaqingkuang}, #{fanganxiugai})
    </insert>
</mapper>

