<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.srp.dao.UserDao">

    <!--按用户名查找用户-->
    <select id="getUserByUserName" parameterType="String" resultType="com.upc.srp.dto.User">
        SELECT * FROM user where username=#{username}
    </select>

    <!--添加用户-->
    <insert id="insertUser" parameterType="com.upc.srp.dto.User">
        insert into user value(#{username}, #{password})
    </insert>
</mapper>